*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    
    background:#090129f6;
    gap:1rem;
    padding:1rem;
    box-shadow:2px 7px 8px rgba(0, 0, 0, 0.476);
    border-radius:3px;
    color:white;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(251, 255, 255, 0.747);
    text-transform: uppercase;
    text-decoration: underline;
}